svg {
    width: 100%;
    height: 100%;
    min-width: 640px;
    min-height: 480px;
    overflow: hidden;
}

.live.map {
    width: 100%;
    height: 100%;
}

.live.map text {
    font-weight: 300;
    font-size: 14px;
}

.live.map .node rect {
    stroke-width: 2px;
    stroke: #bbb;
    fill: #666;
}

.live.map .action_status {
    height: 100%;
    width: 15px;
    display: block;
    float: left;
    margin-right: 2px;
}

.live.map .pre_actions {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.live.map .node g div {
    width: 200px;
    height: 70px;
    color: #fff;
}

.live.map .edgeLabel text {
    width: 50px;
    fill: #fff;
}

.live.map .edgePath path {
    stroke: #999;
    stroke-width: 2px;
    fill: #999;
}

.action_mini_button {
    display: inline-block;
    width: 25px;
    padding: 1px;
}

.step_action_statuses {
    float: left;
    width: 20%;
}

.step_details {
    float: left;
    width: 80%;
}

.step_title {
    position: absolute;
    z-index: 1;
}

.step_duration {
    position: absolute;
    z-index: 2;
}

.step_action_buttons {
    position: absolute;
    z-index: 3;
}

.action_complete {
    background-color: #7f7;
}

.action_pending {
    background-color: #747cff;
}

.state_embryo {
    background-color: #D5F5FF;
}

.state_in_progress {
    background-color: #C3FDB8;
}

.state_processed {
    background-color: #15C200;
}

.state_canceled {
    background-color: #f77;
}

.state_invalid {
    background-color: #FF4500;
}

.state_noop {
    background-color: #FFFFAA;
}
