svg {
  width: 100%;
  overflow: hidden;
}
.live.map {
  width: 100%;
}
.live.map text {
  font-weight: 300;
  font-size: 14px;
}
.live.map .node rect {
  stroke-width: 2px;
  stroke: #bbb;
  fill: #666;
}
.live.map .node g div {
  width: 220px;
  height: 75px;
  color: #fff;
}
.live.map .action_status {
  width: 15px;
  height: 100%;
  display: block;
  float: left;
  margin-right: 2px;
}
.live.map .pre_actions {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.live.map .edgeLabel text {
  width: 50px;
  fill: #fff;
}
.live.map .edgePath path {
  stroke: #999;
  stroke-width: 2px;
  fill: #999;
}
.step_container {
  display: inline;
}
.step_section {
  height: 100%;
  float: left;
  display: block;
}
.step_detail {
  height: 30% !important;
}
.width_30pct {
  width: 30% !important;
}
.width_70pct {
  width: 70% !important;
}
.right_margin {
  margin-left: 10px;
}
.actionset_failed {
  background-color: #f00;
}
.actionset_complete {
  background-color: #0f0;
}
.actionset_running {
  background-color: #7f7;
}
.actionset_pending {
  background-color: #747cff;
}
.state_embryo {
  background-color: #d5f5ff;
}
.state_in_progress {
  background-color: #c3fdb8;
}
.state_processed {
  background-color: #15c200;
}
.state_canceled {
  background-color: #f77;
}
.state_invalid {
  background-color: #ff4500;
}
.state_noop {
  background-color: #ffa;
}
.action_mini_button {
  display: inline-block;
  width: 30px;
  padding: 1px;
}
.user_message {
  display: none;
  margin-top: 3rem;
  text-align: center;
}
.tipsy .name {
  font-size: 1.2em;
  font-weight: bold;
  color: #60b1fc;
  margin: 0;
}
.tipsy .description {
  font-size: 1.2em;
}
.header_layout {
  display: table;
}
.header_layout_element {
  display: table-cell;
  vertical-align: middle;
}
div.tab {
  display: flex;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  padding: 4px;
  justify-content: left;
}
div.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
div.tab button:hover {
  background-color: #ddd;
}
div.tab button.active {
  background-color: #ccc;
}
.tabcontent {
  display: none;
  padding: 1rem;
  border: 1px solid #ccc;
  border-top: none;
}
